@import 'normalize.scss';

$font-stack: 'Inter', sans-serif;
$font-weight: 400;
$font-size: 14px;
$background: #FAF3F3;
$main-color: #181C43;
$text-color: #3E4462;
$link-color: #1E1A3E;
$input-color:#000000CC;
$input-background:#F3F3FA;
$error-color: #FF6683;
$black: #000000;
$white: #FFFFFF;


* {
	box-sizing: border-box;
  font-family: $font-stack;
	font-size: $font-size;
  font-weight: $font-weight;
  background: $background;
  color: $main-color;
	text-align: center;
}

.container {
	max-width: 320px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.form {
	max-width: 230px;
	width: 100%;
	background: $white;
	border-radius: 40px;
	padding: 23px 22px 18px;
	margin: 0 auto 30px;

	&__submit {
		width: 100%;
		font-weight: 500;
		line-height: 143%;
		color: $white;
		background: $link-color;
		border-style: none;
		border-radius: 50px;
		padding: 15px 0;
	}

	&__link {
		font-weight: 500;
		line-height: 143%;
		color: $link-color;
	}

	&__error {
		position: fixed;
		bottom: 17px;
		font-weight: 500;
		line-height: 143%;
		color: $white;
		background: #FF6683;
		border-radius: 50px;
		padding: 15px 45px;

		&::after {
			content: '';
			position: absolute;
			right: 15px;
			width: 20px;
			height: 20px;
			background-image: url('../images/crossline.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.field {
	background: $white;
	margin-bottom: 25px;

	&__wrap {
		background: #ffffff;
		position: relative;
	}

	&__label {
		display: block;
		font-size: 12px;
		font-weight: 600;
		line-height: 167%;
		color: $input-color;
		background: $white;
		text-align: start;
		padding-left: 20px;
		margin-bottom: 5px;
	}

	&__input {
		display: block;
		width: 100%;
		text-align: start;
		border-style: none;
		border-radius: 50px;
		background: $input-background;
		color: $input-color;
		outline: none;
		padding: 10px 20px;
	}

	&__error {
		display: block;
		font-size: 10px;
		line-height: 200%;
		color: $error-color;
		background: $white;
		text-align: start;
		padding-left: 20px;
	}
}

.title {
	font-size: 22px;
	font-weight: 800;
	line-height: 30px;
}

.text {
	line-height: 143%;
	color: $text-color;
}

.logout-button {
	display: block;
	max-width: 150px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	background: #1E1A3E;
	color: #FFFFFF;
	padding: 15px 0;
	margin: 0 auto;
}

.error {
	background: #ffd6de;
}

.disabled {
	background: rgba(30, 26, 62,  0.4);
}